<div class="ajax-bg">
    <div class="ajax-inner">
      <h3 class="mb-4">You are being redirected to PayPal</h3>
      <img src="/img/ajax-loader3.gif" class="ajax-img">
    </div>
</div>

<nav class="navbar navbar-light bg-light">
  <div class="container">
    <div>
      <a class="navbar-brand" href="/">tuku-tuku</a>
        <% pages.forEach((page) => { %>
            <% if (page.slug == 'home') { %>
                <a  href="/"><%= page.title %></a>
            <% } else { %>
                <a  href="/<%= page.slug %>"><%= page.title %></a>
            <% } %> 
        <% }) %>
    </div>
    <div>
      <% if (!user) { %>
        <a href="/users/login" class="btn btn-outline-primary">Login</a>
        <a href="/users/register" class="btn btn-primary">Register</a>
      <% } else { %>
        <a  href="/cart/checkout">
          My Cart (
            <% if (typeof cart !== 'undefined') { %>
              <%= cart.length %> 
            <% } else { %>
            0
            <% } %>)
        </a>
        <% if (user && user.admin == 1) { %>
          <a href="/admin/pages">Admin Area</a>
        <% } %> 
        <a href="/users/logout" ><%= user.name %> (Logout)</a>
      <% } %> 
       
    </div>
  </div>
</nav>

<div class="container mt-5 bg-secondary">
    <%- messages('./partials/messages', locals) %> 

    <%- include('./errorMessages') %> 